//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//normalize
@import "../css/_misc/normalize.scss";

// setups
@import "../css/_misc/mixins.scss";
@import "../css/_misc/fonts.scss";
@import "../css/_misc/layout.scss";

// components
@import "../css/blocks/section.scss";
@import "../css/blocks/header.scss";
@import "../css/blocks/menu.scss";
@import "../css/blocks/content.scss";
@import "../css/blocks/btn.scss";
@import "../css/blocks/scroll-down.scss";
@import "../css/blocks/advantages.scss";
@import "../css/blocks/advantage.scss";
@import "../css/blocks/feeds.scss";
@import "../css/blocks/feed.scss";
@import "../css/blocks/main-section.scss";
@import "../css/blocks/main.scss";
@import "../css/blocks/menu.scss";
