.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
}