
.advantages__avatar {
  width: auto;
  height: 95px;
  margin-bottom: 35px;
}

.advantages__title {
  font-family: 'Lifehack-Medium';
  font-size: 24px;
  color: rgb(47, 50, 52);
  line-height: 1.167;
  text-align: center;
  margin-bottom: 23px;
}

.advantages__discr{
  font-size: 14px;
  font-family: 'Ubuntunormal';
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714;
  text-align: center;
}
