
.advantages__avatar {
  width: auto;
  height: rem(95px);
  margin-bottom: rem(35px);
  display: flex;
  justify-content: center;
  @include phones {
    margin-right: rem(20px);
    width: 30%;
  }
}


.advantages__pc {
  width: 90%;
  height: rem(100px);
  svg {
    max-width: 95%;
  }
  @include phones {
    position: static;
    transform: none;
  }
}

.advantages__title {
  font-size: rem(24px);
  @include lifehack;
  color: $black;
  margin-bottom: rem(20px);
}

.advantages__discr{
  font-size: 14px;
  font-family: 'Ubuntunormal';
  color: rgba(47, 50, 52, 0.8);
  line-height: 1.714;
  text-align: center;
}
