
.best {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/webackground.png) no-repeat;
  background-size: cover;
  min-height: 650px;

  .section__title {
    margin-bottom: rem(37px);
    margin-top: rem(65px);
    @include tablets {
      margin-bottom: rem(40px);
    }
    
  }
   
}

.best__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}