
.button {
  @include inlineblock();
	background: $orange;
  padding: rem(9px) rem(16px);
  text-decoration: none;
  border-radius: rem(5px);
  color: white;
  border: none;
  text-transform: uppercase;
  @include ubuntu(medium);
}

.btn {
	@include inlineblock();
	background: $orange;
	font-size: rem(13px);
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: rem(5px);
	padding: rem(9px) rem(16px);
	@include ubuntu(medium);
}


.button_bg_red {
  background: #e45028;
}

.button_bg_black {
  background-color: black;

}

.button_bg_black {
  padding: 0.625rem 0.9375rem;
  text-decoration: none;
  border-radius: 0.3rem;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-left: 1rem;
  background: black;
}