
.button {
  @include inlineblock();
	background: $orange;

  text-decoration: none;
  border-radius: rem(3px);
  color: white;
  border: none;
  text-transform: uppercase;
  @include ubuntu(medium);
}
.btn {
  background: $red;
  padding: 0.625rem 0.9375rem;
  text-decoration: none;
  border-radius: 0.3125rem;
  font-size: 0.8125rem;
  font-family: Ubuntu;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}


.button_bg_red {
  background: #e45028;
}

.button_bg_black {
  background-color: black;

}

.button_bg_black {
  padding: 0.625rem 0.9375rem;
  text-decoration: none;
  border-radius: 0.3rem;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-left: 1rem;
  background: black;
}