
.content {
  display: flex;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
  margin-top: -100px;
  margin-right: 13px;


  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: rem(-96px);
    margin-right: 0;
  }

  @include phones {
    margin-right: 0;
  }
}

.content__image,
.content__title {
  @include tablets {
    width: 100%;
  }
}


.content__image {
  max-width: 100%;
  flex-shrink: 0;

  @include tablets {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content__image-pic {
  max-width: 100%;
  max-height: 100%;

  @include tablets {
    max-width: 80%;
  }

  
}



.content__title {
  display: flex;
  flex-direction: column;
  align-items: start;
  

  @include tablets {
    text-align: center;
    padding: rem(30px) 20% 0;
    align-items: center;
   
  }
  @include phones {
    align-items: center;
    padding-left: rem(15px);
    padding: 0;
  }
}

.section__title-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablets {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include phones {
    display: flex;
    justify-content: center;
  }
}


.section__title-second {
  font-size: rem(65px);
  color: white;
  @include lifehack;
  text-transform: lowercase;
  line-height: 1em;
  @include tablets {
    display: flex;
    justify-content: center;
  }
    
  @include phones {
    display: flex;
    justify-content: center;
  }
}