 
.feed {
  height: 100vh;
  min-height: rem(650px);
  background: black;
  @include tablets {
    min-height: rem(0px);
  }
}

.feed__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  filter: grayscale(100%);
}

.feed__item {
  position: relative;
  width: 25%;
  height: 50%;
  cursor: pointer;

  @include tablets {
    height: 25%;
    width: 50%;
  }
}