.header {
	padding-top: rem(4px);
	display: flex;
	align-items: center;
	

	@include phones {
		margin-bottom: 10%;
	}
}

.header__logo {
	z-index: 50;
}


.header__links {
  display: flex;
	align-items: center;
	
	@include tablets {
    margin-right: rem(50px);
	}
}

.header__menu {
	margin-top: -15px;
	flex: 1;
	text-align: right;
	margin-right: rem(20px);


 

	@include tablets {
		text-align: right;
	}
}