$itemsMargin: 13px;

.menu-header {
  text-transform: uppercase;
  color: #fff;

  
	@include tablets {
		display: none;
	}
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;



}

.menu__item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: #fff;
  &:after {
    content: '';
    @include inlineblock(middle);
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: $itemsMargin;
  }

  &:last-child {
    margin-right: 0;
    &:after {
     content: none;
    }
  }

  @include tablets {
    display: block;
  }
}




.menu__link {
  @include inlineblock(middle);
	font-size: rem(13px);
	text-transform: uppercase;
	color: white;
	text-decoration: none;
  @include ubuntu(medium);
  
  &:hover {
		text-decoration: underline;
	}
}  