.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: center;
	background-color: rgba(47, 50, 52, 0.9);

	&--active{
		display: flex;
		position: fixed;
	}
}


.full-review {
	padding: rem(25px) rem(20px);
}

.full-review__inner{
	position: relative;
	background: #fff;
	width: 480px;
	border-radius: 5px;
	color: black;
	padding: 20px;

}

.full-review__title {
	@include gagalin;
	font-size: rem(14px);
	text-transform: uppercase;
	margin-bottom: rem(25px);
}

.full-review__content {
	font-size: rem(14px);
	@include ubuntu();
}

.full-review__close {
	width: rem(15px);
	height: rem(15px);
	display: block;
	position: absolute;
	right: rem(20px);
	top: rem(20px);
	opacity: .7;
	transition: .3s;

	&:hover {
		opacity: 1;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}

.status-popup__inner {
	padding: rem(20px);
	text-align: center;
	position: relative;
	background: #fff;
	border-radius: 5px;
	color: black;
	width: rem(210px);
}

.status-popup__message {
	margin-bottom: rem(20px);
	font-size: rem(14px);
}

.status-popup {
	width: rem(240px);
}

.error-message {
	color: $red;
}



.review__view {
  border-radius: rem(5px);
  background-color: rgb(47, 50, 52);
  padding: rem(8px) rem(12px);
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  @include ubuntu(medium);
  font-size: rem(12px);
  transition: .3s;
  &:hover {
    background-color: rgb(31, 33, 34);
  }
}

.status-popup-true,
.status-popup-false {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(47, 50, 52, 0.9);
}

.non-open{
display: none;
}





