.container--main-hero {
  justify-content: space-between;
  height: 100%;
}

.down {
  display: block;
  width: 1.8125rem;
  height: 0.875rem;
  font-style: 'Ubuntu';
}

.main__down {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}