
.section__title {
  font-family: 'Gagalin';
  color: #f9b43b;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.3rem;
  margin-bottom: 40px;

  &--black {
    color: $black;
  }
}

.section__title-second {
  font-family: 'Lifehack-Medium';
  font-size: 65px;
  color: white;
  font-weight: 400;
  line-height: 1.1;
}